{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="/add_job" class="btn btn-secondary">Добавить работу</a>
    {% endif %}
    <a href="/departments" class="btn btn-secondary">Перейти к списку отделов</a>
    {% for job in jobs: %}
        <h3>Action # {{job.id}}</h3>
        <table border="1">
            <tr>
                <td>Title of activity</td>
                <td>Team leader</td>
                <td>Duration</td>
                <td>List of collaborators</td>
                <td>Is finised</td>
            </tr>
            <tr>
                <td>{{ job.job }}</td>
                <td>{{ job.team_leader }}</td>
                <td>{{ job.work_size }} hours</td>
                <td>{{ job.collaborators }}</td>
                {% if job.is_finished %}
                    <td>is finished</td>
                {% else %}
                    <td> is not <br> finished</td>
                {% endif %}
            </tr>
        </table>
        {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == job.team_leader.data) %}
            <div>
                <a href="/job_edit/{{ job.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/job_delete/{{ job.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}