{% extends "base.html" %}

{% block content %}
    {% for job in jobs: %}
        <h3>Action # {{job.id}}</h3>
        <table border="1">
            <tr>
                <td>Title of activity</td>
                <td>Team leader</td>
                <td>Duration</td>
                <td>List of collaborators</td>
                <td>Is finised</td>
            </tr>
            <tr>
                <td>{{ job.job }}</td>
                <td>{{ job.team_leader }}</td>
                <td>{{ job.work_size }} hours</td>
                <td>{{ job.collaborators }}</td>
                {% if job.is_finished %}
                    <td>is finished</td>
                {% else %}
                    <td> is not <br> finished</td>
                {% endif %}
            </tr>
        </table>
    {% endfor %}
{% endblock %}